/* En este archivo creo reglas para los celus */
@media (max-width: 600px) { /*esto significa que por debajo de los 600 pixeles, va a activar las reglas que se definen acá adentro. Esto no solo funciona para los celus sino que si achico la ventana del navegador también funciona*/
    .products, .beneficios, .coments{
        display: inherit; /*para que deje de mostrar los productos uno al lado del otro y los muestre uno abajo del otro*/
        height: auto;
    }
    .product, .beneficio, .coment{
        margin-top: auto;
        padding: 3px;
    }
    .main_section{
        padding: 4%;
    }
}